@font-face {
  font-family: Poppins;
  src: url('/user/themes/ai18/fonts/Poppins-Bold.ttf');
}

html, body {
    overflow: auto;
}

/* Core Stuff */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Poppins;
    font-size: 18px;
}

body {
	background-image: url('/user/themes/ai18/images/flexion.png'), url('/user/themes/ai18/images/body-back.png');
    background-position: top, top 856px right;
    background-repeat: no-repeat, repeat-y;
    background-size: auto 100vh, auto auto;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    font-size: 1rem;
    line-height: 1.7;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: color;
}

h2 {
    font-size: 1.5em;
}

a {
    color: #1F8CD6;
    text-decoration: none;
}

a:hover {
    color: #175E91;
}

pre {
    background: #F0F0F0;
    margin: 1rem 0;
    border-radius: 2px;
}

blockquote {
    border-left: 10px solid #eee;
    margin: 0;
    padding: 0 2rem;
}

/* Utility Classes */
/*.wrapper {*/
/*    margin: 0 3rem;*/
/*}*/

/*.padding {*/
/*    padding: 3rem 1rem;*/
/*}*/

.left {
    float: left;
}

.right {
    float: right
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

/* Content Styling */
.header .padding {
    padding: 1rem 0;
}

.header {
    color: #eee;
}

.header a {
    color: #fff;
}

.header .logo {
    position: absolute;
    top: 3px;
}

.header .logo img {
    height: 4.35em;
    width: auto;
}

.footer {
    background-color: #eee;
}

/* Menu Settings */
.navbar {
    padding: 2em 0;
}

.main-nav {
    height: 3em;
    display: flex;
    justify-content: center;
    background: #0E0E0E;
    margin-left: 5em;
}

.main-nav ul:first-child {
    flex: 1;
}

.main-nav div {
    align-self: center;
    height: 100%;
}

.main-nav div img {
    height: 100%;
    background: white;
}

.main-nav ul {
    text-align: center;
    letter-spacing: -1em;
    margin: 0;
    padding: 0;
    align-self: center;
}

.main-nav ul li {
    display: inline-block;
    letter-spacing: normal;
}

.main-nav ul li a {
    position: relative;
    display: block;
    line-height: 45px;
    color: #fff;
    padding: 0 20px;
    white-space: nowrap;
}

.main-nav > ul > li > a {
    border-radius: 2px;
}

/*Active dropdown nav item */
.main-nav ul li:hover > a {
    text-decoration: underline;
}

/* Selected Dropdown nav item */
.main-nav ul li.selected > a {
    text-decoration: underline;
}

/* Dropdown CSS */
.main-nav ul li {position: relative;}

.main-nav ul li ul {
    position: absolute;
    background-color: #1F8DD6;
    min-width: 100%;
    text-align: left;
    z-index: 999;

    display: none;
}

.main-nav ul li ul li {
    display: block;
}

/* Dropdown CSS */
.main-nav ul li ul ul {
    left: 100%;
    top: 0;
}

/* Active on Hover */
.main-nav li:hover > ul {
    display: block;
}

/* Child Indicator */
.main-nav .has-children > a {
    padding-right: 30px;
}
.main-nav .has-children > a:after {
    font-family: FontAwesome;
    content: '\f107';
    position: absolute;
    display: inline-block;
    right: 8px;
    top: 0;
}

.main-nav .has-children .has-children > a:after {
    content: '\f105';
}



/* Page content */
.body-back {
	background: url('/user/themes/ai18/images/flexion.png');
	background-size: cover;
	background-position: center top;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: -10;
    height: 100vh;
}

.accueil-intro {
    padding-top: 85vh;
}

.background {
    background: rgba(217, 217, 217, 0.9);
    color: black;
    margin: 0;
    width: 100%;
    margin-top: -2em;
    margin-bottom: -2em;
    z-index: 100;
    position: absolute;
}

.intro {
    font-size: 1.5em;
    text-align: center;
}

.accueil-back {
	background: url('/user/themes/ai18/images/body-back.png');
    height: 100vh;
	background-size: cover;
	background-position: center top;
}

.partenaires {
    display: flex;
    padding: 1em;
    gap: 5em;
}

.partenaires bold, .partenaires span {
    font-size: 1.5rem;
}

.partenaires div {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
}

.footer {
	background: url('/user/themes/ai18/images/footer.png');
    height: 50vh;
	background-size: cover;
	background-position: center top;
}

.background-image {
	background: url('/user/themes/ai18/images/back.png');
    position: absolute;
    top: 100vh;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: -100;
    filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.content-back {
    background: red;
    min-height: 100vh;
    margin: 0 2em 2em 2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.orange .content-back, .orange .main-nav {
    background: rgba(90, 51, 34, 0.8);
}

.violet .content-back, .violet .main-nav {
    background: rgba(128, 83, 161, 0.8)
}

.gris .content-back, .gris .main-nav {
    background: rgba(78, 80, 67, 0.8)
}

.vert .content-back, .vert .main-nav {
	background: rgba(18, 95, 32, 0.8);
}

.bleu .content-back, .bleu .main-nav {
    background: rgba(12, 25, 68, 0.8)
}

.photos ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.photos ul img {
    height: 15em;
}

.event ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.event ul img {
    height: 30em;
}


.evenements ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.evenements ul img {
    height: 15em;
}

.contact {
    margin: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
}

.contact img {
    height: 20em;
}

.contact p {
    font-size: 2.5em;
    line-height: 1;
}

.membres {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    gap: 2em;
    justify-content: center;
}

.membre {
    background: rgba(217, 217, 217, 0.9);
    color: black;
    border-radius: 0.5em;
    overflow: hidden;
}

.membre p:first-child {
    margin: 0;
    padding: 0;
}

.membre img {
    height: 10em;
}

.membre h3, .membre > p {
    margin-left: 0.3em;
}

.flip-card {
	background-color: transparent;
	width: 400px;
	height: 400px;
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}

.flip-card-front {
	color: black;
}

.flip-card-back {
	transform: rotateY(180deg);
}


.musiques {
	width: 100%;
	display: flex;
	gap: 1em;
	flex-wrap: wrap;
}

.partenaires bold {
	align-self: center;
}

.partenaires-list {
	display: flex;
	padding: 0;
	margin: 0;
}

.partenaires-list p {
	padding: 0;
	margin: 0;
}

.partenaires-list img {
	height: 5em;
	margin: 0;
	padding: 0;
}
